
%center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%column{
    display: flex;
    flex-direction: column;
}

// les couleurs

$purple: #9356DC;
$pink: #FF79DA;
$cyan: #99E2D0;
$gray: #eaebec;
$light_grey:#f7f6f7;


// fonts

$logo: 'Shrikhand', cursive;
$texte:'Roboto', sans-serif;