.container_fonctionnement .box_fonctionnement:hover, .contenair_explorer .btn_explorer:hover {
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

section {
  font-family: "Roboto", sans-serif;
}

.contenair_header .localisation, .contenair_header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_restaurants, .container_fonctionnement, .contenair_explorer {
  display: flex;
  flex-direction: column;
}

.container_fonctionnement .box_fonctionnement .fonctionnement .cirle {
  position: relative;
  right: 3rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: normal;
}

.contenair_header {
  display: flex;
  flex-direction: column;
}
.contenair_header .logo {
  height: 6rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.contenair_header .logo h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem;
}
.contenair_header .localisation {
  height: 3.5rem;
  background-color: #eaebec;
  margin-top: 0.3rem;
}
.contenair_header .localisation p {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.contenair_header .localisation p .fa-map-marker-alt {
  margin-right: 1rem;
}

.contenair_explorer {
  background-color: #f7f6f7;
  align-items: center;
  height: 24rem;
}
.contenair_explorer .text_explore {
  text-align: center;
  margin-top: 3rem;
}
.contenair_explorer .text_explore h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.contenair_explorer .text_explore h3 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
.contenair_explorer .btn_explorer {
  margin-top: 1.5rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 1.3rem;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}
.contenair_explorer .btn_explorer a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.container_fonctionnement h2 {
  font-size: 2em;
  margin-left: 1.5rem;
  margin-top: 3rem;
}
.container_fonctionnement .box_fonctionnement {
  background-color: #f7f6f7;
  padding: 2rem;
  margin-top: 2rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 2px 6px 8px rgba(51, 50, 50, 0.1);
}
.container_fonctionnement .box_fonctionnement .fonctionnement {
  display: flex;
}
.container_fonctionnement .box_fonctionnement .fonctionnement .icone {
  margin-right: 2rem;
  font-size: 1.6rem;
  color: gray;
}
.container_fonctionnement .box_fonctionnement .fonctionnement .text {
  font-size: 1.6rem;
}
.container_restaurants {
  margin-top: 3rem;
  background-color: #f7f6f7;
}
.container_restaurants h2 {
  margin-top: 3rem;
  margin-left: 1.5rem;
  font-size: 2rem;
}
.container_restaurants .box_restaurants {
  background-color: white;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 15px;
  box-shadow: 2px 6px 8px rgba(51, 50, 50, 0.1);
}
.container_restaurants .box_restaurants a {
  text-decoration: none;
  color: black;
}
.container_restaurants .box_restaurants .box_img_restaurant .img_restaurant {
  object-fit: cover;
  width: 100%;
  height: 15rem;
  border-radius: 15px 15px 0px 0px;
}
.container_restaurants .box_restaurants .description {
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}
.container_restaurants .box_restaurants .description h4 {
  font-size: 1.4rem;
}
.container_restaurants .box_restaurants .description p {
  font-size: 1.3rem;
}
.container_restaurants .box_restaurants .description .test i {
  position: absolute;
  right: 3rem;
  font-size: 1.7rem;
  bottom: 1.5rem;
}
.container_restaurants .box_restaurants .description .test .fas {
  opacity: 0;
}
.container_restaurants .box_restaurants .description .test:hover .fas {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  transition: 0.5s;
}
.container_restaurants .box_restaurants .description .test:hover .far {
  opacity: 0;
}

footer {
  height: 13rem;
  background-color: #353535;
  margin-top: 5rem;
}
footer .container_footer {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
footer .container_footer p {
  color: white;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.5rem;
}
footer .container_footer a {
  text-decoration: none;
  color: white;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
